/Dirt.class
/RandomVacuumAgent.class
/ReactiveVacuumAgent.class
/VacuumAgent.class
/VacuumWorld.class
/AmsBlindZigzagVacuumAgent.class
/TemplateVacuumAgent.class
/ZigzagVacuumAgent.class
/LucianoVacuumAgent.class
